<!-- <p>
  home works!
</p> -->
<app-navbar></app-navbar>



<div class="container-fluid" style=" background-color: #3883E8; " >

  <div class="row">

    <div class="col-md-6">

        <div class="text-center" style=" margin: 150px auto; color: #fff; font-weight: 900;">
            <p class="typed-element"> {{ phrasWatched | titlecase }} </p>
        </div>



    </div>
    <div class="col-md-6">
      <img src="assets/img/bot-1.png" alt="" style="width: inherit;height: 90vh;">

    </div>

  </div>






</div>
